{% extends 'base.html.twig' %}

{% block body %}
  <div class="container">
    <h1>Add Seat</h1>

    {{ form_start(addseat_form) }}
        {{ form_widget(addseat_form) }}
        <input class="btn btn-default" type="submit" value="Assign" />
    {{ form_end(addseat_form) }}
    <br>
    <ul class="list-unstyled list-inline">
        <li>
            <a class="btn btn-default" href="{{ path('classroom_index') }}">Back to the list</a>
        </li>
    </ul>
  </div>
{% endblock %}
