{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Classroom creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-default" type="submit" value="Create" />
    {{ form_end(form) }}
    <br>
    <ul class="list-unstyled list-inline">
        <li>
            <a class="btn btn-default" href="{{ path('classroom_index') }}">Back to the list</a>
        </li>
    </ul>
</div>
{% endblock %}
